.header {
  --header-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  
  background-color: white;
  border-bottom: 1px solid lightgray;
  
  z-index: 9;
}

.header-left {
  display: flex;
  height: 100%;
  cursor: default;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5em;
  height: 100%;

  &__icon {
    width: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #777;
  }
}

.search {
  outline: 2px solid pink;
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  height: 100%;
  padding: 0 .5rem;
  min-width: 20vw;
}

[class*="header-item-"] {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50ch;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;

  &:hover {
    background-color: rgba(black, .1);
  }
}
.header-item-user {
  margin-right: .5rem;
  margin-left: auto;
  width: 2.5rem;
  height: 2.5rem;
}