.editor {
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  max-width: 600px;
  border-radius: 6px;
  background-color: white;
  //min-height: 50vh;
}

.editor__header {
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  
  & .editor__pin {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    &:hover {
      background-color: rgba(black, .1);
    }
  }
}

.editor__title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #666;
  width: 100%;
  text-align: left;
}
.editor__body {
  //min-height: 15rem;
  height: 100%;
  text-align: left;
  line-height: 1.5;
  padding: .25rem;
  position: relative;
  flex-grow: 1;
}
textarea {
  width: 100%;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  
  font-family: sans-serif;
  font-size: 1rem;
  padding: .75rem;
  box-sizing: border-box;
  resize: none;
  min-height: 15rem;
}
// .editor__body {
  
// }
.editor__edited {
  display: flex;
  justify-content: flex-end;
  font-size: .8rem;
  margin: .5rem 1rem;
  font-weight: 600;
  color: #777;
}

.editor__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

  & .note-display-controls {
    opacity: 1;
  }
}

.editor__undo {
  display: flex;
  gap: .5rem;
  margin-right: auto;
  margin-left: 1rem;
  color: #777;

  & > * {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: pink;
    }
  }
}

.editor__close {
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: .5rem 1rem;
  font-weight: 600;
  color: #666;
}

